<template>
  <div class="home">
    <!-- TODO: #3-1 -->
    <!-- TODO: #3-2 -->
    <v-btn
      color="success"
      outlined
    >
      <v-icon
        left
      >
        mdi-magnify
      </v-icon>
      Show todo list
    </v-btn>
  </div>
</template>

<script>
export default {
  name: 'home',

  methods: {
    showTodoList() {
      /* TODO: #3-2 */
    },
  },
};
</script>
