<template>
  <div class="todo">
    <h1>My TODO List</h1>
    <!-- TODO: #3-2 -->
    <v-text-field
      v-model="todoInput"
      label="Add what needs to be done"
      @keypress.enter="addTodo"
    ></v-text-field>
    <!-- TODO: #3-1 -->
    <v-list
      v-if="todoList.length"
    >
      <todo-item
        v-for="todo in todoList"
        :todo="todo"
        :key="todo.idx"
      ></todo-item>
    </v-list>
    <p
      v-else
    >
      There is nothing to do
    </p>
  </div>
</template>

<script>
import TodoItem from '@/components/TodoItem.vue';

const STORAGE_KEY = 'mytodo';

export default {
  name: 'TodoList',

  components: {
    TodoItem,
  },

  data: () => ({
    idx: 0,
    todoList: [],
    todoInput: '',
  }),

  methods: {
    loadAll() {
      this.todoList = JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]');
      this.todoList.forEach((todo, index) => {
        // eslint-disable-next-line no-param-reassign
        todo.idx = index;
      });
      this.idx = this.todoList.length;
    },
    saveAll() {
      localStorage.setItem(STORAGE_KEY, JSON.stringify(this.todoList));
    },
    addTodo() {
      /* TODO: #3-3 */
      this.todoList.push({
        idx: this.idx,
        title: this.todoInput,
        isDone: false,
      });
      this.todoInput = '';
    },
  },

  /* TODO: #3-3 */
  watch: {
    todoList: {
      handler() {
        this.saveAll();
      },
      deep: true,
    },
  },

  created() {
    this.loadAll();
  },
};
</script>
