<template>
  <v-list-item>
    <template>
      <v-list-item-action>
        <v-checkbox
          v-model="todo.isDone"
          color="primary"
        ></v-checkbox>
      </v-list-item-action>
      <v-list-item-content>
        <v-list-item-title>
          {{ todo.title }}
        </v-list-item-title>
      </v-list-item-content>
    </template>
  </v-list-item>
</template>

<script>
export default {
  name: 'TodoItem',

  props: ['todo'],
};
</script>
