<template>
  <div class="user-name">
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <template v-slot:activator="{ on }">
        <v-btn
          text
          v-on="on"
        >
          {{ displayUserName }}
        </v-btn>
      </template>
      <v-card>
        <v-card-title
          class="headline"
          primary-title
        >
          Update User Name
        </v-card-title>
        <v-card-text>
          <v-text-field
            v-model="userName"
            label="New User Name"
          ></v-text-field>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="setName"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'UserName',

  data: () => ({
    dialog: false,
    userName: '',
  }),

  computed: {
    ...mapGetters(['displayUserName']),
  },

  methods: {
    setName() {
      this.$store.commit('setName', this.userName);
      this.userName = '';
      this.dialog = false;
    },
  },
};
</script>
