<template>
  <div class="todo">
    <h1>My TODO List</h1>
    <v-text-field
      v-model="todoInput"
      label="Add what needs to be done"
      <!-- TODO: #3-2 -->
    ></v-text-field>
    <v-list
      <!-- TODO: #3-1 -->
    >
      <todo-item
        <!-- TODO: #3-1 -->
      ></todo-item>
    </v-list>
    <p
      v-else
    >
      There is nothing to do
    </p>
  </div>
</template>

<script>
import TodoItem from '@/components/TodoItem.vue';

const STORAGE_KEY = 'mytodo';

export default {
  name: 'TodoList',

  components: {
    TodoItem,
  },

  data: () => ({
    idx: 0,
    todoList: [],
    todoInput: '',
  }),

  methods: {
    loadAll() {
      this.todoList = JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]');
      this.todoList.forEach((todo, index) => {
        // eslint-disable-next-line no-param-reassign
        todo.idx = index;
      });
      this.idx = this.todoList.length;
    },
    saveAll() {
      localStorage.setItem(STORAGE_KEY, JSON.stringify(this.todoList));
    },
    addTodo() {
      /* TODO: #3-2 */
    },
  },


  watch: {
    /* TODO: #3-3 */
  },

  created() {
    /* TODO: #3-3 */
  },
};
</script>
