<template>
  <v-list-item>
    <template>
      <v-list-item-action>
        <v-checkbox
          <!-- TODO: #2-1 -->
          color="primary"
        ></v-checkbox>
      </v-list-item-action>
      <v-list-item-content>
        <v-list-item-title>
          <!-- TODO: #2-1 -->
        </v-list-item-title>
      </v-list-item-content>
    </template>
  </v-list-item>
</template>

<script>
export default {
  name: 'TodoItem',

  /* TODO: #2-1 */
};
</script>
