<template>
  <div class="user-name">
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <template v-slot:activator="{ on }">
        <v-btn
          text
          v-on="on"
        >
          <!-- TODO: #1-1 -->
        </v-btn>
      </template>
      <v-card>
        <v-card-title
          class="headline"
          primary-title
        >
          Update User Name
        </v-card-title>
        <v-card-text>
          <v-text-field
            v-model="userNameInput"
            label="New User Name"
          ></v-text-field>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            <!-- TODO: #1-2 -->
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: 'UserName',

  data: () => ({
    dialog: false,
    userNameInput: '',
    userName: '',
  }),

  computed: {
    /* TODO: #1-1 */
  },

  methods: {
    setName() {
      /* TODO: #1-2 */
    },
  },
};
</script>
