<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <v-toolbar-title>MyTODO</v-toolbar-title>

      <v-spacer></v-spacer>
      <user-name></user-name>
    </v-app-bar>
    <v-content>
      <v-container>
        <v-layout>
          <v-flex
            xs12
          >
            <!-- TODO: #2-1 -->
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import UserName from '@/components/UserName.vue';

export default {
  name: 'App',

  components: {
    UserName,
  },

  /* TODO: 4-1 */
};
</script>
